In [1]:
from autogluon.tabular import TabularDataset, TabularPredictor
from sklearn.model_selection import train_test_split

In [2]:
train_data = TabularDataset('../01-machine-learning-recap/data/train_data.csv')

In [3]:
train_data.head()

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.0,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.0,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.0,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.0,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.0,0,V,N,O,R,680.0,1,1800.0,3,1053,0

In [4]:
train, test = train_test_split(train_data, test_size=0.3, shuffle=True)

## Modeling

In [ ]:
EVAL_METRIC = 

# Trained models will be saved here
SAVE_PATH = 

# Column to predict
LABEL = "Claim"

In [ ]:
predictor = TabularPredictor()

In [ ]:
predictor.leaderboard(extra_info=True)

## Evaluation

In [ ]:
test_leaderboard = predictor.leaderboard()

In [ ]:
test_leaderboard